.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.info-wrapper {
    padding: 5px;
    text-align: left;
}


.info-wrapper {
	padding: 0 5px;
}

.validation-msg {
	padding: 15px;
}

.closed {
	display: none;
}

#cars, #watches {
	position: relative;
	left: 100px;
}
#gender {
	position: relative;
	left: 190px;
}

.btn {
	position: relative;
	left: 190px;
}

.transmission, .carBody, .status {
	position: relative;
	left: 15px;
}

#transmission, #carBody, #status {
	position: relative;
	left: 175px;
}

#result {
	position: relative;
	left: 15px;
}

